/* Update Header Logo */
.page-header .logo {
  position: relative;
  width: 140px;
  height: 60px;
}

.page-header .logo:hover {
  opacity: 1;
}

.page-header .logo img {
  position: absolute;
  width: 100%;
}

/* Update Footer logo */
.footer-top {
  padding: 12px 0;
}

.footer-logo {
  max-width: 108px;
}

/* Map */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.map-grid-map iframe {
  width: 100%;
  height: 100%;
}

.list-content li {
  --liY: 20px;
  padding-left: 40px;
  position: relative;
}
.list-content li:nth-child(n+2) {
  margin-top: var(--liY);
}
.list-content li:before {
  content: "—";
  color: #E1AE2E;
  position: absolute;
  top: 0px;
  left: 0px;
}
.list-content span {
  color: #E1AE2E;
}

@media (max-width: 1024px) {
  .header-nav {
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .page-header .logo {
    width: 100px;
    height: 50px;
  }
}

/* Updating old styles */

.bgs-img:before {
  pointer-events: none;
}
.article-inner .bg-str img {
  transition: all .5s ease-in-out;
}
.article-inner:hover .bg-str img {
  transform: translate(-50%, -50%) scale(1.05);
}
.swiper-programm-ico {
  margin: 0 0 auto;
}
.swiper-programm-inner h4 {
  color: #fff;
}
.people-grid-list h2 {
  transition: color .3s ease-in-out;
}
.people-grid-list h2:hover {
  color: var(--base-link-color);
}