/* Update Header Logo */
.page-header .logo {
  position: relative;
  width: 140px;
  height: 60px;
}
.page-header .logo:hover {
  opacity: 1;
}
.page-header .logo img {
  position: absolute;
  width: 100%;
}

/* Update Footer logo */
.footer-top {
  padding: 12px 0;
}
.footer-logo {
  max-width: 108px;
}

@media (max-width: 1024px) {
  .header-nav {
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .page-header .logo {
    width: 100px;
    height: 50px;
  }
}
